  
  h4 {
    font-family: "Proxima Nova", "Helvetica Neue";
    line-height: 80%;
  }
  
  h2 {
    margin-left: 2.5% ; 
    font-family: "Proxima Nova", "Helvetica Neue";
  }
  
  h1 {
   color: black;
   margin-top: 1.2%;
   font-family: "Open Sans","Proxima Nova", "Helvetica Neue";
   font-size: 3.3vw;
   padding-right: 1%;
   margin-bottom: .5vh;
   white-space: nowrap;
   font-weight: bold
 }
 
 
  #input-header {
    font-size: 2vw;
    font-weight: 500;
    margin-top: 4%;
    margin-left: 4%;
    font-family: "Proxima Nova", "Helvetica Neue";
  }
  
  #demo {
    margin-left: 4%;
  }
  
  #controls {
      /* Appearance */
      background-color: white;
      left: 1.8%;
      top: 1.5%;
      width: 32%;
      height: auto;
      /* Fade out while not hovering */
      opacity: 0.7;
      zoom: 0.9;
  } 
  
  #submit {
    padding-top: 2%;
    padding-bottom: 5%;
  }
  
.leaflet-right .leaflet-control {
    margin-right: 10%;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 5%;
    bottom: 38vh;
}
        
  
  .user-input {
    padding-top: 3%;
  }
  
  .out-panel {
    background-color:rgb(196, 196, 196);
    opacity: 0.8;
    margin: auto;
    bottom: 2%;
    height: 36%;
  } 
  
  #top-zips {
    right: 1.8%;
    width: 25%;
  }
  
  #zip-detail {
    left: 1.8%;
    width: 70%;
  }
  
  #metric-panel {
    left: 35%;
    margin-bottom: 5%;
    top: 1.5%;
    height: auto;
    width: 15%;
    background-color: white; 
    /*background-color: transparent; 
    border-color: transparent; */
    opacity: 0.85;
    zoom: 0.9;
  }
  
  #metric-select {
    padding: 3% 4% 0% 4%;
    }

  #in-text {
    font-size: 1.75vmin;
    padding-bottom: 3%;
    color: rgb(80,80,80);
    max-width: 95%;
    font-family: "Proxima Nova", "Helvetica Neue";
  }

    
  .out-header {
    color: rgb(60,60,60);
    font-size: 2vw;
    margin-left: 2.5%;
    opacity: 1 !important;
    font-family: "Proxima Nova", "Helvetica Neue";
  }  
  
  .out-text {
    font-size: 1.75vmin;
    color: white;
    opacity: 1 !important;
    margin-left: 2.5%;
    font-family: "Proxima Nova", "Helvetica Neue";
  }
  

  #minimize-button {
    font-size: .97vw;
    width: auto;
    right: 66.18%;
    top: 1.5%;
    opacity: 0.6;
    zoom: 0.9;
    transition: opacity 500ms 1s
  }
   /* #title-panel {
      
      background-color: white;
      left: 1.8%;
      top: 1%;
      width: auto;
      max-width: 45%;
      height: auto;
      
      opacity: 0.7;
      zoom: 0.9;
      transition: opacity 500ms 1s
  } */
  
 /*#title-text {
   color: rgb(48,48,48);
   margin-left: 2.5%;
   max-width: 95%;
   overflow-wrap: anywhere;
   font-size: 1.75vmin;
   padding-bottom: 3%;
   font-family: "Proxima Nova", "Helvetica Neue";
 }*/